
[submodule "dotfiles/vim/bundle/vim-endwise"]
	path = dotfiles/vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "dotfiles/vim/bundle/vim-irblack"]
	path = dotfiles/vim/bundle/vim-irblack
	url = git@github.com:wesgibbs/vim-irblack.git
[submodule "dotfiles/vim/bundle/vim-ruby"]
	path = dotfiles/vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
